<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>sonarsource</id>
      <username>${env.SONARSOURCE_REPO_USERNAME}</username>
      <password>${env.SONARSOURCE_REPO_PASSWORD}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>sonarsource-repo</id>
      <activation>
        <property>
          <name>!skip-sonarsource-repo</name>
        </property>
      </activation>
      <repositories>
        <repository>
          <id>sonarsource</id>
          <name>SonarSource Central Repository</name>
          <url>https://repox.sonarsource.com/sonarsource</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>sonarsource</id>
          <name>SonarSource Central Repository</name>
          <url>https://repox.sonarsource.com/sonarsource</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>
