<?xml version="1.0" encoding="UTF-8"?>

<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <profiles>
    <profile>
      <id>sonarsource-public-repo</id>
      <activation>
        <property>
          <name>!skip-sonarsource-public-repo</name>
        </property>
      </activation>
      <repositories>
        <repository>
          <id>sonarsource-public-releases</id>
          <name>sonarsource-public-releases</name>
          <url>https://repox.sonarsource.com/sonarsource-public-releases</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>sonarsource-public-snapshots</id>
          <name>sonarsource-public-snapshots</name>
          <url>https://repox.sonarsource.com/sonarsource-public-snapshots</url>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>sonarsource-public-releases</id>
          <name>sonarsource-public-releases</name>
          <url>https://repox.sonarsource.com/sonarsource-public-releases</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>sonarsource-public-snapshots</id>
          <name>sonarsource-public-snapshots</name>
          <url>https://repox.sonarsource.com/sonarsource-public-snapshots</url>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>
